<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Culto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <p class="large-text">En este apartado se podrás consultar algunos audios del cultos y ceremonias de la Iglesia Eliasista de México, para que puedas llevar el ceremonial contigo donde quiera que estes.</p>
      <p>La Iglesia Eliasista se distingue por ser ritualista, esto quiero decir que nos apoyamos en liturgias para realizar las celebraciones. El Culto de Latría es la máxima expresión de adoración al Altísimo, así como el de Hiperdulía y Dulía, es de veneración a la Santa Virgen María y los Tres Mesías (Moisés, Jesús y Elías), respectivamente.</p>
      <p>También gozan de celebración litúrgica en la Iglesia de Elías, las magnas ceremonias, como las peregrinales a los lugares santos, a saber: el Sol de Justicia, la Apertura del Nuevo Río Jordán, la Rememoración de la Aparición y Promesa Mariana (Santuario de la Virgen Dolorosa) y el Nuevo Monte Carmelo, entre otras y, las ceremonias extraordinarias, entre las que encontramos la Semana Mayor Eliasista, que dentro de ella cada día tiene sus propios rituales y ceremonias, por ejemplo, el Ritual del Réquiem que se oficia el Viernes de Dolores o la Ceremonia de los Ázimos, del Jueves Santo. </p>
      <p>Conforme al III Decreto Solemne para las Siete Iglesias Mexicanas de Elías y el Sello Supremo del Dios Vivo, emitido por el Octavo Gran Hijo del Sol, Efrén Rodríguez, el 21 del mes de marzo de 2021, la diferencia entre Fiestas Sagradas y Fechas Mayores es que, aunque ambas son solemnes, las primeras se festejan con algarabía y las segundas son sólo conmemorativas. En las ceremonias peregrinales se pueden dar ambas particularidades, por la naturaleza misma de los eventos.  </p>
      <p>Las ceremonias deben ser bajo su estricta liturgia y bajo el régimen canónico decretado por el Gran Hijo del Sol a cada una de las iglesias.
      Para la realización de los trabajos de auxilio espiritual, también es necesario efectuar el ceremonial de la entrega del consejo espiritual, en lo que es menester que se realice el culto ordinario, como lo indica la liturgia correspondiente. Lo relativo al servicio del terapeuta será materia de estudio en diverso módulo.</p>
      <p>El Divino Enviado Elías dejó veintidós ceremonias y tres especiales para las distintas jerarquías del sacerdocio, además de siete liturgias con ocho oraciones sagradas, para el culto Elías, mismas que se enlistan a continuación con la data en que fueron reveladas a Roque Rojas y su correspondencia a cada Sello:</p>
      <p>Las Protestas de Amor, Fe y Confianza. 3,4 y 5 de julio de 1861, del Sello Primero.</p>
      <p>Acto de contrición. 22 de mayo de 1862, del Sello Segundo.</p>
      <p>Padre Nuestro. Sin fecha, del Sello Tercero.</p>
      <p>Ave María. 30 de mayo de 1862, del Sello Cuarto.</p>
      <p>Credo. 30 de mayo de 1863, del Sello Quinto.</p>
      <p>Preces Sagradas. 1 de junio de 1867, del Sello Sexto.</p>
      <p>Cántico de las Preces. 3 de junio de 1867, del Sello Séptimo.</p>
      <p>Te Deum. 1 de enero de 1866, del Sello Supremo del Dios Vivo.</p>
      <p>Una vez que el Señor le reveló las ocho oraciones, el 16 agosto de 1866, le indicó que el culto Elías tendría tres fase o tipos que son: Latría, Hiperdulía y Dulía, mismos que conocerás al presionar los siguientes menús.</p>

    </ion-card-content>
  </ion-card>
</ion-content>
