<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Culto de Dulía</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Veneración a la Santísima Trinidad Mesiánica y Humana. La palabra "dulía" viene del latín mediev. dulia y este del griego douleía (servidumbre).
        El tercero y último culto del eliasismo, pero no por ello el de menos importancia. Es el de homenaje a los tres Divinos Enviados. Se ofrece en veneración a la Santísima Trinidad Mesiánica y Humana compuesta por Moisés de Leví “el Hijo de las Aguas”, Jesús de Nazareth “el Hijo de Dios” y Roque Rojas “el Verdadero Hijo del Sol”. </p>
        <p>Conforme al artículo 89 del Verdadero Libro de Oro del Último Testamento, el culto de dulía es de veneración a la Santísima Trinidad que son los tres Enviados Divinos: Moisés, Jesús y Roque Rojas, es decir, mostrarles respetar en sumo grado, por ser enviados del Altísimo, que entregaron su divinidad para cumplir la misión de salvación de la humanidad, así como por sus obras y virtudes, por destacar algunas: son legisladores, tienen el don de profecía, cuentan con facultades extraordinarias de curación, hablan del establecimiento de una Nación o Reino gobernado por Dios, ejecutan milagros extraordinarios y se comunican directamente con el Altísimo, entre otros grandes hechos.</p>
        <p>La Trinidad Mesiánica es personal y humana, lo cual hace destacar Roque Rojas, pues acentúa en la gran prédica del eliasismo, que es una gran blasfemia llamar “Dios” a alguno de los enviados.</p>
        <p>La importancia de realizar este culto es rendir homenaje a los Mesías, mostrándoles respeto y entendimiento por su vida y obra, así como el agradecimiento por el camino de salvación que enseñaron y la herencia dejada al pueblo de Israel, contenida en las llamadas “facultades de Moisés, Jesús y Elías”; además, es el ideal sendero para encontrarles como “medianeros”, es decir, como los primeros intercesores o intermediarios ante Dios, aquellos que al vivir las necesidades de la humanidad, las conocen de primera mano y, por ello, están prestos para hacerlas presente ante el Señor. El Último Testamento precisa, que el Segundo Medianero es Moisés de Leví, Mesías salvador y legislador de la humanidad, en la Primera Era Mosaica, el Tercer Medianero, es Jesús de Nazaret, Mesías, Redentor y salvador de la Humanidad, en la Segunda Era Cristiana y, el Cuarto Medianero, es Roque Rojas, Mesías, Salvador, Regenerador y Restaurador de la Humanidad, en la tercera era mexicana Elías.</p>
        <p>Con esta celebración, reconocemos nuestra herencia como pueblo de Dios, en todas las eras y tiempos de la humanidad, ya que veneramos y alabamos el legado de los enviados y al acercarnos a ellos, pedimos de sus milagros e intercesión ante el Altísimo por cualquier causa.</p>
        <p>Conforme al Manifiesto para la Cofradía de los Emisarios Carmelitanos del Nuevo Carmelo, emitido por el Octavo Gran Hijo del Sol, en noviembre de 2023, los días de celebración del culto de dulía son los martes y sábados de cada semana, los días 3, 12 y 21 de cada mes y en las Ceremonias Magnas como la Semana Mayor Eliasista. </p>
        <p>Escucha partes del Culto de Hiperdulía ahora:</p>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Escucha partes del Culto de Dulía ahora:</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let dulia of Dulias; let iControl=index">
    <ion-card-header>
      <ion-card-title>{{dulia.title}}</ion-card-title>
      <ion-card-subtitle>{{dulia.descripcion}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <audio controls src="{{dulia.url}}"></audio>
    </ion-card-content>
  </ion-card>
</ion-content>