<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Devocionario Eliasista</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>El “Devocionario Eliasista” es un esfuerzo de la Iglesia Eliasista de México, por acercar a la congregación algunas de las oraciones y pedimentos que se realizan dentro de las ceremonias eliasistas, con el fin de que sean erigidas con el corazón, así como en cualquier momento y lugar en que se encuentren nuestros hermanos. </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let devocionario of Devocionarios; let iControl=index">
    <ion-card-header>
      <ion-card-title>{{devocionario.title}}</ion-card-title>
      <ion-card-subtitle>{{devocionario.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <audio controls src="{{devocionario.url}}"></audio>
    </ion-card-content>
  </ion-card>
</ion-content>
