<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">Iglesia Eliasista de México</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-text>
        <p>La <strong>Iglesia Eliasista de México, A.R.,</strong> es una asociación religiosa sólidamente constituida con el registro número 701/93 de la Secretaría de Gobernación de la República Mexicana.</p>
        <p>La doctrina tiene su fundamento en las enseñanzas y hechos del <strong>Enviado Divino Elías</strong>, conocido también como el «Padre Elías», el «Pastorcito Elías» o como en su tiempo lo llamaban «Padre Roquito», cuyo nombre completo es Roque Jacinto Rojas Esparza.</p>
        <p>El credo que profesa la Iglesia es el “<strong>eliasismo</strong>”, que se conceptúa como la corriente religiosa dejada por <strong>Elías Roque Rojas</strong>; todos los que profesamos esta religión somos eliasistas.</p>
        <p>La base de nuestro credo es la existencia de un <strong>Ser Supremo Dios</strong> al que llamamos el Altísimo, porque ese fue el nombre revelado al <strong>Enviado Divino</strong> de este <strong>Tercer Tiempo</strong>; creemos que <strong>Roque Jacinto Rojas Esparza</strong>, es el mismo profeta <strong>Elías Tisbita</strong> que prometen las profecías del Eclesiástico y Malaquías, que vino a pagar tributo a la tierra (es decir, que vino a cumplir con el estadio siguiente a la vida terrenal, pues él no murió, sino que fue arrebatado a los cielos por un carro de fuego), a reunir el corazón de los padres con los hijos y de los hijos con los padres y restaurar el pueblo de Dios en la nación mexicana.</p>
        <p>La restitución y la regeneración nos rigen como los principios básicos del eliasismo, además, en nuestra fe se venera la divinidad del Hijo de Dios Jesús de Nazareth como redentor del mundo, la herencia de Moisés de Leví, el hijo de las aguas y la pureza de la siempre Virgen María, madre de Jesús.</p>
        <p>Nuestra Iglesia es en esencia, la instituida para este tercer tiempo por el <strong>Enviado Divino Roque Jacinto Rojas Esparza, Elías el prometido</strong>.</p>
        <p>En esta aplicación que ponemos a tu alcance tiene como fin que puedas tener la mayor información actualizada del eliasismo en la palma de tu mano, no esperes más, enterate del mensaje de la tercera era.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>