<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Predicas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        Escuchas las enseñanzas del <strong>Octavo Gran Hijo</strong> y de los <strong>Siete Jefes</strong>. Medita sobre de ellas y adentrate en la Voz del Eliasismo.</p>
      <p>Las enseñanzas que nacen de las prédicas Eliasistas son una gran parte de la doctrina de nuestra Iglesia.</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let predica of Predicas; let iControl=index">
    <ion-card-header>
      <ion-card-title>{{predica.title}}</ion-card-title>
      <ion-card-subtitle>{{predica.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <audio controls src="{{predica.url}}"></audio>
    </ion-card-content>
  </ion-card>
</ion-content>

