<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Prédicas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark">
  <ion-card>
    <ion-card-content>
      <p>Escuchas las enseñanzas del Octavo Gran Hijo y de los Siete Jefes. Medita sobre de ellas y adentrate en la Voz del Eliasismo.</p>
      <p>Las enseñanzas que nacen de las prédicas Eliasistas son una gran parte de la doctrina de nuestra Iglesia. Te invitamos a escucharlas y tus opiniones o preguntas las envíes a <a href="mailto:contacto&#64;iglesiaeliasista.org.mx">contacto&#64;iglesiaeliasista.org.mx</a>  o vía whastapp al teléfono <a href="tel:+525541471059">55-4147-1059</a>.</p>
      <hr />
      <p><strong>Escucha la Prédica del Octavo Gran Hijo del Sol</strong></p>
      <audio controls preload="auto">
        <source type="audio/mpeg" src="../assets/mp3/audio_2024-05-20_20-44-45.mp3" />
        [unable to load audio]
      </audio>
    </ion-card-content>
  </ion-card>
</ion-content>