<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Culto de Hiperdulía</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <p>Es la Veneración a la Santísima Virgen María. La palabra "hiperdulía" está formada con raíces griegas: <em>hiper</em> (sobre, por encima) <em>douleía</em> (servidumbre o esclavo). </p>
      <p>Conforme al artículo 89 del Verdadero Libro de Oro del Último Testamento, el culto de hiperdulía es nombrado como de “media adoración” a la Virgen María, dicho término como tal puede entenderse contradictorio, pues no existe un término medio en la adoración, es decir, es adoración o no lo es, además que ésta es reservada exclusivamente para el Altísimo, entonces, dicha terminología debe apreciarse como un esfuerzo escrito de lo que significa el segundo culto del eliasismo, entendido como una veneración u homenaje máximo, aun por encima de los Tres Enviados Divinos: Moisés, Jesús y Roque Rojas, pues como su nombre lo dice, es de “hiper” dulía, o sea, mayor a la Dulía, pero sin llegar a la adoración; entonces, el culto a la Santa a la Virgen es sólo de devoción y/o respeto, de reconocer su grandeza y bondades, pero nunca mostrarle mayor fervor que al Señor, nuestro Dios.
      En la revelación a Roque Rojas, del 5 de Agosto de 1866, la Patrona y Reina de la Nueva Iglesia Mexicana Elías, precisa: “MÁS DESPUÉS DE QUE ENTREGUES LOS SIETE SELLOS DE TU DIOS Y SEÑOR ENTREGARAS UN ORATORIO AL QUE LLAMARÁS DE MI NOMBRE: MARÍA”, esto es, se acentúa que en todo momento, es para el Altísimo el primer lugar, las primicias. </p>
      <p>La importancia de realizar este culto, es refrendar que el pueblo eliasista es Mariano, que creemos en la Virginidad de María como la madre del Divino Jesús y que en este tercer tiempo ha venido a reinar en nuestra Iglesia; que creemos en los cinco privilegios de María, que son: Madre, Virgen, Pura, Inmaculada y Santa. Le reconocemos como reina, madre amorosísima y patrona de todos los hijos de la nueva iglesia. Incluso, al nombrar Roque Rojas a los medianeros, nombra a la Virgen como la primera medianera entre Dios y los hombres. Máxime que el Unigénito de Dios, al estar clavado en la cruz y mirar a Juan el apóstol, nos entregó como hijos a la protección y amparo de María (Jn 19:26). </p>
      <p>El culto de veneración a la Santísima Virgen María madre de Jesús, se realiza en su advocación Purísima y Dolorosa, entendidas como dos manifestaciones de misticismo y poder de María, son dos maneras de descubrir su divinidad y acercarnos a las formas en que se ha revelado a la humanidad.</p>
      <p>La palabra advocación se refiere al amparo, resguardo y defensa de una causa por parte de la Divinidad; se emplea como un sinónimo de presentación o de forma de presentarse o acercarse la divinidad a los hombres.</p>
      <p>La advocación Purísima describe que la Virgen María, fue concebida por obra del Espíritu Santo como lo fue Jesús, con el fin de ser escogida como "vaso de elección" y poder contener en toda su grandeza al Hijo de Dios en su vientre para traerlo a la Tierra (como se lee en la profecía 109 de Roque Rojas); la advocación de los Dolores, se relaciona con las tres espadas de dolor que atravesaron su corazón; entonces, cuando hablamos de advocación Purísima o Dolorosa, significa que a alguna de esas figuraciones de la vida de María, se encomendara determinada causa.</p>
      <p>El homenaje en ambas advocaciones, tiene como fin venerar esos momentos de la Virgen, que le llevaron a ser corredentora del cristianismo y exaltaron su divinidad, por lo que una no es más importante que la otra; de igual manera, en ambas celebraciones, se pueden formular todo tipo de peticiones y respetos, a la Santa Señora.</p>
      <p>En el Culto de la Purísima, se pueden encomendar todas aquellas necesidades que se tengan y, en general, que no caigan en causas de gravedad. Se busca a la Purísima para que nos muestre el camino con su ejemplo de fidelidad, incremente nuestra fe y seamos siempre puros ante Dios. También, este bendito culto es la ocasión más oportuna, para dar gracias por un favor recibido de la Patrona de los Eliasistas. En el caso del sacerdocio, se puede buscar la advocación Purísima cuando haya dudas en el ministerio o en momentos de confusión y debilidad. </p>
      <p>En el Culto de la Dolorosa, se pueden hacer presente nuestros dolores y grandes necesidades para alcanzar consuelo y remedio, por ejemplo, cuando se tenga una situación que luzca imposible de solucionar ante los ojos del hombre, en resumen, las causas más difíciles, pueden ser aquí ofrecidas. Las madres que tienen dificultades con sus hijos y aquellas que buscan la gracia de la maternidad, encuentran en este culto la mejor oportunidad de pedir ayuda.</p>
      <p>Conforme al Manifiesto Mariano de la Iglesia Mexicana de Elías, emitido por el Octavo Gran Hijo del Sol, el 20 de octubre de 2019, los días de celebración del culto de hiperdulía son el lunes y viernes de cada semana, para la advocación Purísima y para la advocación Dolorosa, respectivamente. </p>
      <p>Las Fiestas Mayores Marianas son: Viernes de Dolores de cada Semana Mayor Eliasista y el domingo posterior al cinco de agosto de cada año. </p>
      <p>Escucha partes del Culto de Hiperdulía ahora:</p>

    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Escucha partes del Culto de Hiperdulía ahora:</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let hiperdulia of Hiperdulias; let iControl=index">
    <ion-card-header>
      <ion-card-title>{{hiperdulia.title}}</ion-card-title>
      <ion-card-subtitle>{{hiperdulia.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <audio controls src="{{hiperdulia.url}}"></audio>
    </ion-card-content>
  </ion-card>
</ion-content>