<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title class="ion-text-center">Ceremonias de Inspiración Divina</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <p>En las sagradas escrituras, la inspiración divina se ha relacionado con la dirección del Espíritu del Señor. La máxima representación de ello han sido los profetas. Pedro, al hablar de los profetas dice que el origen de la profecía no es la voluntad de los hombres, sino que hablaron “inspirados” del Espíritu Santo” (2 Pe 1:21). </p>
      <p>Lo que se conoce comúnmente como “cátedra” en el espiritualismo trinitario mariano, es una práctica originada en la Iglesia Eliasista de México A.R., desde los tiempos de Roque Rojas. La realiza un sacerdote que ha sido debidamente consagrado y ungido y que pertenece por integración a una orden especial dentro del sacerdocio eliasista a la cual se le llama Orden Pedestalicia; los ministros de inspiración divina antes llamados pedestales (de ahí el nombre de la orden) transcurren por una formación consistente en estudios diversos y ejercicios espirituales, que cuando menos duran cinco años. Se someten a una disciplina mental, moral y humana constante y rigurosa para poder en un determinado momento lograr un estado de conciencia superior (conocido como éxtasis) en el cual pueden materialmente transmitir en forma de palabra la esencia de algunas divinidades del Eliasismo.</p>
      <p>La ceremonia de Inspiración es un ritual en el que se manifiesta la esencia de la Divinidad, que dependiendo cada celebración, puede ser especial, como el sábado de Gloría, donde por voluntad del Altísimo, se puede manifestar a su pueblo o en celebraciones regulares:</p>
      <ul>
        <li>La Santa Virgen María, los días 8 de cada mes.</li>
        <li>El Señor Moisés, los días 22 de cada mes.</li>
        <li>El Señor Jesús, los días domingo.</li>
        <li>El Seños Elías Roque Rojas, los días jueves.</li>
      </ul>
      <p>También la celebración del Día Primero, donde por voluntad divina se puede escuchar la voz de los cuatro medianeros mencionados.</p>
      <p>Escucha las diversas ceremonias de inspiración que tenemos para ti:</p>


    </ion-card-content>
  </ion-card>
</ion-content>