<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">Gaceta Logos</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-text color="primary" class="ion-margin">
        <h1>Gaceta Logos</h1>
      </ion-text>

      <ion-text color="dark" class="ion-margin">
        <p>La Gaceta Oficial Logos es el órgano de difusión oficial, doctrinal y cultural de toda la Iglesia, en sus líneas se da difusión a todos los eventos que se realizan, así como a los decretos, edictos y ordenanzas que emanen del Gran Hijo del Sol y las diferentes Jefaturas; hoy parte de su función es compartida con el sitio web de la Iglesia. Ipsa ab nam repellendus delectus voluptas cumque blanditiis?</p>
      </ion-text>

        <ion-button href="https://iglesiaeliasista.org.mx/pdfs/gaceta-logos.pdf" fill="solid" class="ion-margin">
          <ion-icon slot="start" name="book"></ion-icon>
          Descargar la Gaceta
        </ion-button>

    
    </ion-card-content>
  </ion-card>
</ion-content>